
 /* to change background color to dark blue */
.BodyLayout {
  background-color: #1f333a;
   padding: 20px;
}

/* to adjust elements content all at once */
body, h1, h2, h3, p, ul, li, a { 
  margin: 0;
  padding: 0;
  font-family: "Times New Roman";
}


/* all heading elements aligned in the center */
h1, h2, h3 {
  color: #dabf81;
  font-weight: bold;
  text-align: center;
}


/* Adjusting the title of the paragraph */
.About h3 {
  color: #dabf81;
  text-align: left;
}
/*  Adjustment  in Content of About Paragraph */
.About p {
  text-align: left;
  font-family: "Times New Roman";
  font-size: 16px;
   color: white;
}

/* button ok for the pop up block*/
.btn { 
  padding: 10px 60px;
  background: #fff; /*white color */
  border: 0;
  outline: none;
  cursor: pointer;
  font-size: 22px;
  font-weight: 500;
  border-radius: 30px;
}

.popup {
  width: 400px; /* Sets the width of the popup to 400px */
  background: #fff; /* Sets the background color white */
  border-radius: 6px; 
  
  position: absolute; /* Positions the popup to the center */
  top: 0; /* Sets the  position of the popup at the top of the screen */
  left: 50%; /* Centers the popup to the middle of the screen */
 
  transform: translate(-50%, -50%) scale(0.1); 
  /* 
    - Moves the popup 50%  left to center (in a horizontal way)
    - Moves it 50% of  height up to center ( in a verticle way)
    - Scales the popup down to 10% of its original size
  */

  text-align: center; 
  padding: 0 30px 30px; 
  color: #333; 
  visibility: hidden; /* Makes the popup hidden by default  so it shows when refreshing the page*/
  transition: transform 0.4s, top 0.4s;
  background-image: url('https://github.com/HamdaAlsuwaidi/Section12_Group3/raw/main/Images/goldConfetiiNoBACKGROUND.gif'); 
 
}


.open-popup { /* will open the pop up through transform animation + function is  in the html file*/
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}

.popup h2 {
  font-size: 38px;
  font-weight: 500;
  margin: 30px 0 10px;
}

.popup button {
  width: 100%;
  margin-top: 50px;
  padding: 10px 0;
  background: #1f333a;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}




/*  Top navigation bar  */
.topnav {
  display: flex; /* Content remain in it place when you move the page */
  align-items: center;
  padding: 10px 10px;
  background-color: #1f333a;
  border-radius: 6px;
}

.topnav a:hover {
  background-color: #dabf81;
}

/*Logo in the navigation bar styling */
.topnav img {
  margin-right: 20px;
  vertical-align: middle;
}


/* For the links in the bar */
.topnav a {
  margin-left: 30px;
  padding: 10px 15px;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

/* it shows a color when a user is on a certain page the current page */
.topnav a.active {
  color: #f0a500;
  font-weight: bold;
}


/* heading for recent event section*/
.RecentEvent-heading {
  font-family: "Times New Roman";
}

/* adjusting the images size to fit  */
.recent-events {
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
  text-align: center;
  margin: auto;
}

/* style the container of the recent event */
.recent-events div {
  text-align: center;
  background: #1f333a;
  border-radius: 15px;
}

.recent-events img {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  margin: 10px;
}


.Contact {
  text-align: center;
}

ul {
  list-style-type: none;
}



.gallery {
  color: #dabf81;
  font-family: "Times New Roman";
  font-size: 16pt;
}

.gallery-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  overflow-x: auto;
  gap: 10px;
  padding: 10px;
 align-content: center;
}

div.gallery {
  border: 1px solid #ccc;
  width: 180px;
  background-color: #1f333a;
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
  flex-shrink: 0;
}

div.gallery img {
  width: 100%;
  height: auto;
  display: block;
}

div.desc {
  padding: 10px;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
}



footer {
  background-color: #1f333a;
  background-image: url("https://github.com/HamdaAlsuwaidi/Section12_Group3/raw/main/Images/pattern.png");
  color: white;
  padding: 10px;
  margin-top: 20px;
  align-content: center;
}



footer a {
  color: white;
  text-decoration: none;

}

footer a:hover {
  color: #dabf81;
}





footer button:hover {
  background-color: #cfa968;
}


.ContactFooter h3{
  text-align: center;
}
.ContactFooter{
  text-align: center;
}

.SocialMedia {
  padding :20px;
  text-align: center;
}
.SocialMedia h3{
  text-align: center;
}
  


.Pages{
  text-align: center;
}
.Pages h3{
  text-align: center;
}
